<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Boulder Food Rescue</name>
    <description>
        Mobile Boulder Food Rescue
    </description>
    <author href="http://dragondev.com" email="dathan@dragondev.com">
        Dathan Ellis
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="img/icons/android/ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="img/icons/android/mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="img/icons/android/hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="img/icons/android/xhdpi.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="img/icons/android/xxhdpi.png" />
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="img/icons/android/xxxhdpi.png" />
    <icon gap:platform="ios" height="57" src="img/icons/ios/icon57.png" width="57" />
    <icon gap:platform="ios" height="72" src="img/icons/ios/icon72.png" width="72" />
    <icon gap:platform="ios" height="76" src="img/icons/ios/icon76.png" width="76" />
    <icon gap:platform="ios" height="114" src="img/icons/ios/icon114.png" width="114" />
    <icon gap:platform="ios" height="120" src="img/icons/ios/icon120.png" width="120" />
    <icon gap:platform="ios" height="144" src="img/icons/ios/icon144.png" width="144" />
    <icon gap:platform="ios" height="152" src="img/icons/ios/icon152.png" width="152" />
    <icon gap:platform="winphone" src="img/icons/winphone/icon.png" />
    <icon gap:platform="winphone" gap:role="background" src="img/icons/winphone/icon.png" />
    <gap:splash src="splash.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="img/splash/android/ldpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="img/splash/android/mdpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="img/splash/android/hdpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="img/splash/android/xhdpi.png" />
    <gap:splash gap:platform="ios" width="320" height="460" src="img/splash/ios/splash320x460.png" />
    <gap:splash gap:platform="ios" width="320" height="480" src="img/splash/ios/splash320x480.png" />
    <gap:splash gap:platform="ios" width="640" height="920" src="img/splash/ios/splash640x920.png" />
    <gap:splash gap:platform="ios" width="640" height="960" src="img/splash/ios/splash640x960.png" />
    <gap:splash gap:platform="ios" width="640" height="1096" src="img/splash/ios/splash640x1096.png" />
    <gap:splash gap:platform="ios" width="640" height="1136" src="img/splash/ios/splash640x1136.png" />
    <gap:splash gap:platform="ios" width="748" height="1024" src="img/splash/ios/splash748x1024.png" />
    <gap:splash gap:platform="ios" width="748" height="1004" src="img/splash/ios/splash768x1004.png" />
    <gap:splash gap:platform="ios" width="748" height="1024" src="img/splash/ios/splash768x1024.png" />
    <gap:splash gap:platform="ios" width="1024" height="768" src="img/splash/ios/splash1024x768.png" />
    <gap:splash gap:platform="ios" width="1496" height="2048" src="img/splash/ios/splash1496x2048.png" />
    <gap:splash gap:platform="ios" width="1536" height="2008" src="img/splash/ios/splash1536x2008.png" />
    <gap:splash gap:platform="ios" width="2048" height="1496" src="img/splash/ios/splash2048x1496.png" />
    <gap:splash gap:platform="winphone" src="img/splash/winphone/splash.jpg" />
    <access origin="*" />
</widget>
