*:not(ol) {
    margin: 0px;
    padding: 0px;

}

#submitButton{
    background-color: #666;
    width: 75.00%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background: #666;
    text-align: center;
    color: White;
    line-height: 2.0;
    font-size: 1em;
    
}

body{
    font-family: arial, helvetica;
    color: black;
    
}
#index-header {
    background-color: #333;
    text-align: center;
    font: 13px;
    color: white;
    line-height: 2.3;
}

#main{
    height:30px;
    text-transform: uppercase;
    font-size: 14px;
}

#home-icon{
   float: left;
   padding-left: 30px;
   vertical-align: middle;
   
}

#logout-icon{
    float: right;
    padding-right: 30px;
    vertical-align: middle; 
}

.header {
    background-color: white;
    text-align: center;
    font-size: 12px;
    line-height: 2.0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.info-header{
    background-color: white;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    
}

#info-title{
    background-color: #999;
    color: White;
    text-align: center;
    line-height: 2.0;
}

#past-header  {
    background-color: white;
    text-align: center;
    line-height: 2.0;
    font-size: 14px;
}

#pickup-header{
    background-color: white;
    text-align: center;
    font-size: 12px;
    line-height: 2.0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#settings-header{
    background-color: white;
    text-align: center;
    font-size: 12px;
    line-height: 2.0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#forgot_password-header{
    background-color: white;
    text-align: center;
    line-height: 2.0;
    font-size: 14px;
}


.collapsable-tab, .bfr-title{
    background-color: #999;
    text-align: center;
    line-height: 2.0;
    color: white; 
    font-size: 14px;
    
}

.report-title{
    background-color: white;
    text-align: center;
    line-height: 2.0;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 20px;
}

.header-tabs {
    width: 33.33%;
    float: left;
    background: #999;
    clear: right;
    text-align: center;
    color: White;
    line-height: 2.0;
    font-size: 14px;
    
}
.header-tabs:hover, #settings-log:hover, #info:hover, #info-pickup:hover, #map:hover, #calender:hover, #save:hover, bfr-title:hover,.collapsable-tab:hover, #home-icon:hover, #logout-icon:hover,#take:hover, a:hover, #submitButton:hover {
    background: grey;
    color: white;
}


.header-tabs > a {
    text-decoration: inherit;
    color: inherit;
}

#forgot_password_form{
    padding-top: 20px;
    text-align: center;
}

.email_reset label{
    display: inline-block;
}



#upcoming-container{
    text-indent: 20px;
}

#info-container{
    background-color: white;
    padding-top: 20px;
    padding-left: 5px;
    font-size: 14px;
}

#notes-container{
    font-size: 14px;
}

#settings-container{
    background-color: white;
    text-align: left;
    line-height: 2.0;

}

#transportation-container{
    background-color: white;
}

#transportation-form-container{
    background-color: white;
    text-indent: 20px;
}

#transportation, #lbs{
    font-size: 12px;
}


#notification-box{
    padding-top: 10px;
    background-color: white;
    text-align: left;
    line-height: 2.0;
    margin-left:10px;
    margin-right:10px;
    font-size: 14px;
}

.box{
    margin-left: 5px;
}

#notif{
    background-color: #999;
    color: White;
    text-align: center;
    line-height: 2.0;
    
}



h2,h4,h3 {
    display: -webkit-inline-box;
}

li{
    line-height: 200%;
    font-size: 12px;
}

ol
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    margin:0px;
}

ul{
    background-color: white;
    margin:0px;
}

#info,#map,#calender {
    float: left;
    width: 33.33%;    
    display: inline-block;
    background: #666;
    text-align: center;
    color: White;
    line-height: 2.0;    
}

#info-tabs-container{
    text-align: center;
}

#take{
    float: center;
    width: 33.33%;    
    display: inline-block;
    background: #666;
    text-align: center;
    color: White;
    line-height: 2.0; 
    
}

#info-pickup{
    float: center;
    width: 33.33%;    
    display: inline-block;
    background: #666;
    text-align: center;
    color: White;
    line-height: 2.0;    
}

#settings-log{
    background-color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background: #666;
    text-align: center;
    color: White;
    line-height: 2.0;
}

#save{
    background-color: #666;
    width: 75.00%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background: #666;
    text-align: center;
    color: White;
    line-height: 2.0;
    
}

#enter-data-container{
    background-color: white;
    text-align:center;

}

.dropdown-box{
    width: 70px;
}

#transportaion-dropdown-box{
    width: 70px;
    display: inline-block;
}

#transportation{
    display: inline-block;
    
}

#transportation-notes{
    text-align: center;
    background-color: white;
}

#transportation-form-container{
   text-align: center;
}
    
#pickup-container{
    background-color: white;
    text-align: center;
    line-height: 2.0;
}

#location, #date{
    background-color: #999;
    color: White;
    text-align: center;
    line-height: 2.0;
}

#location-contents{
    background-color: white;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#date-contents{
    background-color: white;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;

}

form #email, form #password, form label {
    width: 75%;
    padding: 10px;
    display: inline-flex;
}