
        <div id="info-header">
            <h4>
                <div id="inf">Whole Foods Baseline -> Vitamin Cottage</div>
            </h4>
        </div>

        <div id="info-title">
            <h4>
                Info
            </h4>
        </div>

        <div id ="info-container">
            <div id="pickup">
                <strong>Pickup:</strong> Every Monday between 2PM and 3PM 
            </div>
                <br>
            <div id="next_pickup">
                <strong>Next Pickup:</strong> August 11th, 2014 14:00
            </div>
                <br>
            
            <div id="notes-container">
            
            <div id="notes">
                <strong>Notes:</strong> This is a wonderful shift! Take Baseline down to 30th to use the bike lane.
            </div>
                <br>
            <div>
                Get the Harvest of Hope at or before 3, the close shorty after!
            </div>
                <br>
            <div id="expexcted_weight">
                <strong>Expected Weight:</strong> 100(current mean = 30, max = 238.0)
            </div>
                <br>
            <div id="Hilliness">
                <strong>Hilliness:</strong> Mostly Flat.
            </div>
                <br>
            <div id="difficulty">
                <strong>Overall Difficulty:</strong> Typical
            </div>

            </div>

        </div>
