
<div id="past-header">
    <h4>Past Shifts</h4>
</div>

<div>
    <div class="error" ng-if="errorMsg">
    <span id="alert"><img src="../www/icons/alert-black.png" /></span>{{errorMsg}}</div>
</div>

<ol>

    <li ng-repeat="shift in pastShifts">
        <a>
            {{shift.schedule.detailed_date + shift.schedule.detailed_start_time.substring(10) | fuzzyTime}}
        </a>
        
        <ol>
            <ul ng-repeat="item in shift">
                <a ng-href="#/report/{{item.log.id}}">
                    {{item.schedule.detailed_date + item.schedule.detailed_start_time.substring(10) | fuzzyTime}}
                </a>
            </ul>
        </ol>
    </li>
</ol>