<div id="pickup-header">
    <h4>
        <div id="shifts">Open Shifts</div>
    </h4>
</div>
<div>
    <div class="error" ng-if="errorMsg">
        <span id="alert"><img src="../www/icons/alert-black.png" /></span>{{errorMsg}}
    </div>
</div>
<div ng-repeat="shift in openShifts">
    <div class="shift-group">
        <bfr-drawer ng-repeat="item in shift" bfr-title="item | describeLog">
            <div class="header">
                <div class="donor-recipient" ><span>{{item.log.donor.name}}</span>
                    <span ng-repeat="recipient in item.log.recipients">
                    &rarr; {{recipient.name}}
                    </span>
                </div>
            </div>

            <div class="tabs-container">
                <a href="#/detail/{{item.log.id}}" id="info">
                    <h4>Info</h4>
                </a>
            </div>
            <div class="tabs-container">
                <a href="{{item.log | directionsLink}}" id="map">
                    <h4>Map</h4>
                </a>
            </div>
            <div class="tabs-container">
                <a ng-click="take(item.log.id)" id="take">
                    <h4>Take</h4>
                </a>
            </div>
    

    </bfr-drawer>
    </div>
</div>
