
<div class="header">
    <h4>
        <span>{{log.donor.name}}</span>
        <span ng-repeat="recipient in log.recipients">
            &rarr; {{recipient.name}}
        </span>
    </h4>
</div>

<bfr-drawer bfr-title="log.donor.name">
    <form id="enter-data-container">
        <div class="products" ng-repeat="(id, entry) in log_parts">
            <br><select class="dropdown-box" ng-model="entry.food_type_id" ng-options="item.id as item.name for item in foodTypes">
            </select>
            <input class="food-input" type="text" size="15" ng-model="entry.description"/>
            <input class="lb-input" type="text" size="1" ng-model="entry.weight"/> <span id ="lbs">lbs</span>
        </div>

        <!--<div class="products">
            <br><select class="dropdown-box">
                <option value="Bread">Bread</option>
            </select>
            <input type="text" size="15" />
            <input type="text"size="1" /> lbs
        </div>
        <div class="products">
            <br><select class="dropdown-box">
                <option value="Meat">Meat</option>
            </select>
            <input class="food-input" type="text" size="15" />
            <input class="lb-input" type="text"size="1" /> lbs
        </div>--><br>
    </form>

</bfr-drawer>
<!--<div class="collapsable-tab">
    <h4>
        Whole Foods Baseline
    </h4>
</div>-->

<bfr-drawer ng-repeat="recipient in log.recipients" bfr-title="recipient.name">
    <div id="transportation-container">
        <form id="transportation-form-container">
            <br>
            <div id ="transportation">Transportation</div>

            <select id="transportaion-dropdown-box" ng-model="entry.type" ng-options="item.id as item.name for item in transportTypes">
            </select>


            <div id="transportation-notes">
                <br>
                <textarea type="text" cols="32" rows="4" placeholder="Notes about the shift. Equipment issues?"></textarea>
            </div>
        </form>
        
    </div>

        <div id="save" ng-click="submit()">
            <h4>Save</h4>
        </div>

</bfr-drawer>
<!--<div class="collapsable-tab">
    <h4>
        Vitamin Cottage
    </h4>
</div>-->
