<bfr-drawer ng-repeat="shift in upcomingShifts" bfr-title="shift.schedule.detailed_start_time">
    <div class="collapsable-tab">
        <h4>
            Today at 6pm
        </h4>
    </div>

    <div id="upcoming-container">
        <ol>
            <li>Whole Foods (Pickup)</li>
            <li>Vitamin Cottage (Pickup)</li>
            <li>Attention Homes (Drop)</li>
        </ol>
    </div>

    <div class="tabs-container">
        <div id="info">
            <h4>Info</h4>
        </div>
        <div id="map">
            <h4>Map</h4>
        </div>
        <div id="calender">
            <h4>Calender</h4>
        </div>
    </div>
</bfr-drawer>